<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Spring Framework for JEE Project</title>

    <!-- font -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,300' rel='stylesheet' type='text/css'>

    <!-- css -->
    <link rel="stylesheet" href="../src/css/style.css">
</head>
<body>
<!-- header -->
<header class="container-fluid header">
    <div class="container">
        <a href="#" class="logo"> Mon site </a>
        <nav class="menu">
            <a href="#"> Acceuil </a>
            <a href="#"> Livres </a>
            <a href="#"> Auteurs </a>
        </nav>
    </div>
</header>
<!-- end header -->

<!-- bannière -->
<section class="container-fluid banner">

</section>
<!-- end bannière -->

<h1>Author List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName}">Joe</td>
        <td th:text="${author.lastName}">Smith</td>
    </tr>
</table>

</body>
</html>