#carouselHero .carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 35vh;
    width: 100%;
}

.mt-50{
    margin-top: 50px;
}
.mb-50{
    margin-bottom: 50px;
}

.card {
    border: 1px solid black;
}